---
import type { Markdown } from '@/db/types'
import { MarkdownSource } from '@/db'

interface Props {
  source: MarkdownSource
  markdown: Markdown
}

const { markdown } = Astro.props
---

<markdown-editor data-markdown={JSON.stringify(markdown)}>
  <div class="flex gap-x-3 w-full">
    <form class="flex-1 flex flex-col" method="POST">
      <button id="save" class="w-12">Save</button>
      <input type="hidden" name="id" value={markdown.id} />
      <input type="hidden" name="subject" value={markdown.subject} />
      <input type="hidden" name="subject" value={markdown.link} />
      <textarea class="min-h-[50vh] mt-3" name="content" />
    </form>
    <details class="flex-1" open>
      <summary>Preview</summary>
      <div id="preview-md" />
    </details>
  </div>
</markdown-editor>

<script>
import type { Markdown } from '@/db/types'
import consola from 'consola'
import { marked } from 'marked'

class MarkdownEditor extends HTMLElement {
  markdown: Markdown
  textareaEl: HTMLTextAreaElement
  previewEl: HTMLDivElement
  formEl: HTMLFormElement

  constructor() {
    super()

    // query elements & register event
    this.textareaEl = this.querySelector('textarea')!
    this.onInput = this.onInput.bind(this)
    this.textareaEl.addEventListener('input', this.onInput)

    this.previewEl = this.querySelector('#preview-md')!
    this.formEl = this.querySelector('form')!
    this.onSave = this.onSave.bind(this)
    // this.formEl?.addEventListener('submit', this.onSave)

    const { markdown } = this.dataset
    try {
      this.markdown = JSON.parse(markdown ?? '') as Markdown
    }
    catch (e) {
      consola.error(e)
      // let it crash
      throw e
    }

    this.textareaEl.value = this.markdown.content ?? ''
    this.refreshPreview()
  }

  async refreshPreview() {
    this.previewEl.innerHTML = await marked(this.markdown.content ?? '')
  }

  onInput(e: Event) {
    this.markdown.content = (e.target as HTMLTextAreaElement).value
    this.refreshPreview()
  }

  onSave(e: SubmitEvent) {
    e.preventDefault()

    const pickKeys = ['id', 'link']
    Object.keys(this.markdown).forEach((key) => {
      if (pickKeys.includes(key)) {
        const hiddenInput = document.createElement('input')
        hiddenInput.type = 'hidden'
        hiddenInput.name = key
        hiddenInput.value = String(this.markdown[key as keyof Markdown])
        this.formEl.appendChild(hiddenInput)
      }
    })

    this.formEl.submit()
  }
}

customElements.define('markdown-editor', MarkdownEditor)
</script>
