---
import Editor from '@/components/editor/index.astro'
import DashboardLayout from '@/layouts/dashboard.astro'
import { MarkdownSource } from '@/lib/prisma'
import { readPresetSource } from '@/lib/prisma/pages'

const env = Astro.locals.runtime.env

const presetSource = await readPresetSource(env, [MarkdownSource.Home])
---

<DashboardLayout>
  <h2>Home</h2>
  <Editor markdown={presetSource[0]} />
</DashboardLayout>
