// 生成主题样式
@mixin generate-theme() {
  // 定义主题映射关系
  $theme-mappings: (
    "bg": "base",
    "text": "text",
    "light-text": "rosewater",
    "dark-text": "teal",
    "link": "blue",
    "origin-link": "lavender",
    "warning-text": "yellow",
    "success-text": "green",
    "error-text": "red",
    "code-bg": "base",
    "code-border": "overlay-1",
    "code-border-nest": "surface-1",
    "editor-bg": "crust",
    "editor-text": "subtext-0",
    "editor-border": "overlay-0",
    "editor-selection-bg": "overlay-2",
    "editor-selection-text": "crust",
    "button-bg": "surface-0",
    "button-hover-bg": "surface-1",
    "button-active-bg": "surface-2",
    "button-text": "text",
    "blockquote-bg": "surface-0",
    "blockquote-text": "subtext-0",
    "popup-btn-bg": "overlay-1",
    "input-bg": "surface-0",
    "input-text": "subtext-1",
  );

  @each $koala-var, $theme-color in $theme-mappings {
    --koala-#{$koala-var}: var(--koala-catppuccin-#{$theme-color});
  }
}

// 默认主题 (Latte)
body {
  @include generate-theme();
  
  /* 应用变量 */
  background-color: var(--koala-bg);
  color: var(--koala-text);
}

// 组件样式
#page {

  a {
    color: var(--koala-link);
  }

  a.origin {
    color: var(--koala-origin-link);
  }
  
  blockquote {
    border-left-color: var(--koala-blockquote-text);
  }
  
  textarea {
    // background-color: var(--koala-editor-bg);
    // border: 2px dashed var(--koala-editor-border);
    background: transparent;
    border: none;
    color: var(--koala-editor-text);
  }

  textarea::selection {
    background-color: var(--koala-editor-selection-bg);
    color: var(--koala-edit-text);
  }
  
  div.code-block {
    background-color: var(--koala-code-bg);
    border: 1px solid var(--koala-code-border);
  }

  details div.code-block {
    border-color: var(--koala-code-border-nest)
  }

  details {
    border: 1px solid var(--koala-code-border);
  }

  details[open] summary {
    color: var(--koala-editor-text)
  }

  code:not([class]) {
    background-color: var(--koala-editor-bg);
    color: var(--koala-editor-text)
  }
  
  button {
    background-color: var(--koala-button-bg);
    color: var(--koala-button-text);

    &:hover {
      background-color: var(--koala-button-hover-bg)
    }

    &:active {
      background-color: var(--koala-button-active-bg)
    }
  }

  input {
    background-color: var(--koala-input-bg);
    color: var(--koala-input-text);
  }

  $status-types: (
    "warning": "warning-text",
    "error": "error-text",
    "success": "success-text"
  );

  @each $class, $var in $status-types {
    p.#{$class} {
      margin-top: 0;
      color: var(--koala-#{$var});
    }
  }
}
