#page button.icon {
  width: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#page button.icon:hover {
  background-color: var(--koala-icon-btn-bg);
}
