a {
  @apply no-underline;
}

nav {
  @apply my-5;
}

nav > p > a + a {
  @apply ml-3;
}

blockquote {
  @apply border-l border-l-solid ml-8 pl-4;
}

body {
  min-height: 100vh;
  margin: 0;
}

#page {
  flex: 1;
}

textarea {
  outline: none;
}

