:root {
  --koala-font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --koala-font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --koala-font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

a {
  --at-apply: no-underline;
}

nav {
  --at-apply: my-5;
}

nav > p > a + a {
  --at-apply: ml-3;
}

blockquote {
  --at-apply: border-l border-l-solid ml-8 pl-4;
}

/* .code-block { */
/*   --at-apply: overflow-x-auto max-w-[800px] box-content; */
/* } */
/**/
body {
  min-height: 100vh;
  margin: 0;
}

#page { 
  flex: 1; 
} 

p,
li {
  line-height: 26px;
}

div.code-block {
  position: relative;
  border-radius: 5px;
  padding: 0 10px;
}

div.code-block span.code-lang {
  font-family: var(--koala-font-mono);
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  font-style: italic;
  cursor: pointer;
}

article#article .shiki {
  background: inherit !important;
}

ul {
  padding-left: 0;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  --at-apply: h-10 w-18 text-[16px];
}



input.input {
  border: none;
  outline: none;
  --at-apply: p-2;
  font-size: 16px;
}

h2.editor-title {
  margin-top: 0;
}

img {
  max-width: 100%;
}

article#article code {
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}

details {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

span.tag {
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 12px;
  display: inline-block;
  margin: 0 2px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  text-align: left;
  font-weight: 600;
}

th,
td {
  padding: 12px 15px;
}

/* Article layout styles */
.article-main {
  max-width: 800px;
  margin: 0 auto;
}

/* Task List Styles */
ul .task-list-item {
  list-style-type: none;
  margin-bottom: 4px;
}

.task-list-marker {
  position: relative;
  top: 3px;
  margin-right: 8px;
}

.task-list-item.checked {
  opacity: 0.8;
}

.task-list-item.checked .task-list-marker {
  color: var(--koala-catppuccin-green);
}


span.line span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  span.line span {
    color: var(--shiki-dark);
  }
}
