a {
  @apply no-underline;
}

nav {
  @apply my-5;
}

nav > p > a + a {
  @apply ml-3;
}

blockquote {
  @apply border-l border-l-solid ml-8 pl-4;
}

body {
  min-height: 100vh;
  margin: 0;
}

#page {
  flex: 1;
}

textarea {
  outline: none;
}

div.code-block {
  position: relative;
  border-radius: 5px;
  padding: 0 10px;
}

div.code-block pre {
  overflow: auto;
}

div.code-block span.code-lang {
  font-family: monospace;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  font-style: italic;
  cursor: pointer;
}

.shiki {
  background: inherit !important;
}

ul {
  padding-left: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  --at-apply: h-10 w-18 text-[16px];
}

input {
  border: none;
  outline: none;
  --at-apply: p-2;
  font-size: 16px;
}

img {
  max-width: 100%
}
