:root {
  --bg-light: #fff;
  --bg-dark: #333;

  --text-light: #333;
  --text-dark: #f0f0f0;

  --link-light: #8971c6;
  --link-dark: #e5c896;

  --blockquote-color-light: #888;
  --blockquote-color-dark: #aaa;

  --code-bg-light: #f2f2f2;
  --code-bg-dark: #303445;

  --editor-bg-light: #fff;
  --editor-bg-dark: #aaa;
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

#page a {
  color: var(--link-light);
}
#page.dark a {
  color: var(--link-dark);
}

#page blockquote {
  border-left-color: var(--blockquote-color-light);
}
#page.dark blockquote {
  border-left-color: var(--blockquote-color-dark);
}

#page textarea {
  background-color: var(--editor-bg-light);
}
#page.dark textarea {
  background-color: var(--editor-bg-dark);
}

#page.dark textarea::selection {
  background-color: #888;
}

#page div.code-block {
  background-color: var(--code-bg-light)
}

#page.dark div.code-block {
  background-color: var(--code-bg-dark)
}
