---
import type { Markdown } from '@/db/types'
import { MarkdownSource } from '@/db'
import { formatDate } from 'date-fns'

interface Props {
  article: Markdown
  content: string
  renderLangSet?: Set<string>
}

const { article, content, renderLangSet } = Astro.props
const source = article?.source
const langSet = Array.from(renderLangSet || []).join(',')
---

<article-client data-article={JSON.stringify(article)} data-lang-set={langSet}>
  {
    source === MarkdownSource.Post
  ? (
  <>
    <h1>{ article.subject }</h1>
    <p>{ formatDate(article.createdAt, 'yyyy-MM-dd') }</p>
  </>
  )
  : null
  }
  <article id="article" />
  <article id="serverArticle" set:html={content} />
</article-client>

<script>
import type { DoubleLinkPluginOptions } from '@/lib/markdown/double-link-plugin'
import { parseJson } from '@/lib/utils/parse-json'

class ArticleClient extends HTMLElement {
  articleEl: HTMLElement | null = null
  serverArticleEl: HTMLElement | null = null
  mdModulePromise: Promise<typeof import('@/lib/markdown')>

  constructor() {
    super()
    this.mdModulePromise = import('@/lib/markdown')
  }

  async connectedCallback() {
    this.articleEl = this.querySelector('#article')
    this.serverArticleEl = this.querySelector('#serverArticle')

    const article = JSON.parse(this.dataset.article || '')
    const langSet = this.dataset.langSet?.split(',') || []
    let outgoingLinks: DoubleLinkPluginOptions['allPostLinks'] | null = null
    outgoingLinks = parseJson(article.outgoing_links)

    const [mdModule] = await Promise.all([this.mdModulePromise])

    const content = article ? (await mdModule.md({ langSet, allPostLinks: outgoingLinks || [] })).render(article?.content ?? '') : ''
    this.serverArticleEl?.remove()
    this.articleEl?.insertAdjacentHTML('beforeend', content)
  }
}

customElements.define('article-client', ArticleClient)
</script>
