---
import type { Markdown } from '@/db/types'
import { MarkdownSource } from '@/db'
import { addHeadingIds, extractHeadings } from '@/lib/utils/heading-id'
import { formatDate } from 'date-fns'
import Outline from './outline.svelte'

interface Props {
  article: Markdown
  content: string
  showOutline?: boolean
}

const { article, content, showOutline = false } = Astro.props

const source = article?.source
const contentWithIds = await addHeadingIds(content)
const headings = showOutline ? await extractHeadings(contentWithIds) : []
---
{showOutline && (
  <Outline client:load title={article.subject} headings={headings} />
)}

<main class="article-main">
  {
    source === MarkdownSource.Post
  ? (
  <>
    <h1>{ article.subject }</h1>
    <p>{ formatDate(article.createdAt, 'yyyy-MM-dd') }</p>
  </>
  )
  : null
  }
  <article id="article" set:html={contentWithIds} />
</main>


