---
import type { Markdown } from '@/db/types'
import { MarkdownSource } from '@/db'
import { formatDate } from 'date-fns'

interface Props {
  article: Markdown
  content: string
}

const { article, content } = Astro.props

const source = article?.source
---
{
  source === MarkdownSource.Post
? (
<>
  <h1>{ article.subject }</h1>
  <p>{ formatDate(article.createdAt, 'yyyy-MM-dd') }</p>
</>
)
: null
}
<article id="article" set:html={content} />

