---
import Layout from '../layouts/layout.astro'
---

<Layout>
  <h1>Koala Blog</h1>
  <nav>
    <a href="/dashboard/home">Home</a>
    <a href="/dashboard/posts">Posts</a>
    <a href="/dashboard/pages">Pages</a>
  </nav>
</Layout>
