---
import List from '@/components/dashboard/list.astro'
import { MarkdownSource } from '@/db'
import Layout from '@/layouts/home.astro'
---

<Layout>
  <section>
    <List source={MarkdownSource.Post} />
  </section>
</Layout>
