---
import Layout from '@/layouts/layout.astro'

const redirectTo = Astro.url.searchParams.get('from') || '/'
---
<Layout>
  <login-form data-redirect-to={redirectTo}>
    <form id="login-form" method="POST" class="max-w-md mx-auto mt-10">
      <div class="mb-6">
        <label for="adminKey" class="block mb-2 text-sm font-medium">Admin Key</label>
        <input
          type="password"
          id="admin-key"
          name="adminKey"
          class="outline-none border-none text-sm block h-8 w-full bg-[--koala-code-bg] color-[--koala-code-text]"
          placeholder="Input admin key"
          required
        />
      </div>

      <button
        id="login-btn"
        type="submit"
        class="!w-full font-medium rounded-lg text-sm text-center"
      >
        Login, then redirect to {redirectTo}
      </button>
    </form>
  </login-form>
</Layout>


<script>
import to from 'await-to-js'
import { FetchError, ofetch } from 'ofetch'

class LoginForm extends HTMLElement {
  loginBtn: HTMLElement | null = null
  adminKeyInput: HTMLInputElement | null = null
  formEl: HTMLFormElement | null = null
  errorEl: HTMLParagraphElement | null = null

  connectedCallback() {
    this.loginBtn = this.querySelector('#login-btn')
    this.adminKeyInput = this.querySelector('#admin-key')
    this.formEl = this.querySelector('#login-form')
    this.loginBtn?.addEventListener('click', (e) => {
      this.login(e)
    })
  }

  showErrorMessage(message: string = '') {
    if (!this.formEl) {
      return
    }

    if (!message) {
      this.errorEl?.remove()
    }

    if (!this.errorEl) {
      this.errorEl = document.createElement('p')
      this.errorEl.classList.add('error')
      this.errorEl.textContent = message
      this.formEl.insertAdjacentElement('beforeend', this.errorEl)
    }
    else {
      this.errorEl.textContent = message
    }
  }

  async login(e: Event) {
    e.preventDefault()
    const [err] = await to(ofetch('/api/auth/login', {
      method: 'POST',
      body: {
        adminKey: this.adminKeyInput?.value,
      },
    }))

    if (err) {
      if (err instanceof FetchError) {
        const unauth = err.response?.status === 401

        if (unauth) {
          this.showErrorMessage('Wrong Password')
          return
        }
      }
      this.showErrorMessage(err.message)
      return
    }

    const searchParams = new URLSearchParams(window.location.search)
    const redirectTo = searchParams.get('from') || '/'
    window.location.pathname = redirectTo
  }
}

customElements.define('login-form', LoginForm)
</script>
