---
import OnboardingForm from '@/components/onboarding/index.svelte'
import { globalConfig } from '@/lib/kv'
import sql from '../../migrations/0000_init.sql?raw'

const config = await globalConfig(Astro.locals.runtime.env.KOALA)

if (config.onboardingFinished) {
  return Astro.redirect('/')
}

if (Astro.locals.runtime.env.DATA_SOURCE === 'd1') {
  const res = await Astro.locals.runtime.env.DB.exec(`
    DROP INDEX IF EXISTS user_email_unique;
    DROP TABLE IF EXISTS user;
    DROP INDEX IF EXISTS session_token_unique;
    DROP TABLE IF EXISTS session;
    DROP INDEX IF EXISTS markdown_link_unique;
    DROP INDEX IF EXISTS markdown_subject_unique;
    DROP TABLE IF EXISTS markdown;
    DROP TABLE IF EXISTS account;
    DROP TABLE IF EXISTS verification;
  `)
  console.log('dropped', res)
  const create = await Astro.locals.runtime.env.DB.exec(sql.replaceAll('--> statement-breakpoint', '').replaceAll('\n', ' '))
  console.log('created', create)
}

---

<div>
  <OnboardingForm client:load />
</div>
