---
import OnboardingForm from '@/components/onboarding/index.svelte'
import { globalConfig } from '@/lib/kv'

// #if CF_PAGES
import sql from '../../migrations/0000_init.sql?raw'
// #endif

const env = Astro.locals.runtime?.env || {}
const config = await globalConfig(env)

if (config._runtime?.ready) {
  return Astro.redirect('/')
}

// #if CF_PAGES
if (env.DATA_SOURCE && env.DATA_SOURCE === 'd1') {
  await env.DB.exec(`
    DROP INDEX IF EXISTS markdown_link_unique;
    DROP INDEX IF EXISTS markdown_subject_unique;
    DROP TABLE IF EXISTS markdown;
  `)
  await env.DB.exec(sql.replaceAll('--> statement-breakpoint', '').replaceAll('\n', ' '))
}
// #endif
---

<div>
  <OnboardingForm client:load />
</div>
