---
import Editor from '@/components/editor/index.svelte'
import { MarkdownSource, type PostOrPage } from '@/db'
import { initMarkdown, type Markdown } from '@/db/types'
import DashboardLayout from '@/layouts/dashboard.astro'
import { readArticle } from '@/lib/services/article'
import { formHandler } from '@/lib/services/editor'
import { to } from 'await-to-js'

const { link } = Astro.params
const source: PostOrPage = MarkdownSource.Page
const mode = 'update'

const [formError, formStatus] = await to(formHandler(Astro, { source }))

const article: Response | Markdown = mode === 'update'
  ? await readArticle(Astro, source, link!)
  : initMarkdown()

if (article instanceof Response) {
  return article
}
---
<DashboardLayout>
  <main class="py-3">
    <h1>New Page</h1>

    { formStatus === 'ok' && <div>Saved Success</div> }
    { formError && <div>{formError.message}</div> }

    <Editor client:load source={source} markdown={article} />
  </main>
</DashboardLayout>
