---
import type { PostOrPage } from '@/db'
import { readList } from '@/db/markdown'
import { format, isSameYear } from 'date-fns'

interface Props {
  source: PostOrPage
}

const { source } = Astro.props

const env = Astro.locals.runtime.env

const list = await readList(env, source)
const formatUpdateAt = (updateAt: Date) => format(updateAt, isSameYear(updateAt, new Date()) ? 'MM-dd (HH:mm)' : 'yyyy-MM-dd')
---

<ul class="mt-5">
{
  list.map(item => (
    <li class="inline-flex gap-3">
      item.updatedAt ? <span><i>{ formatUpdateAt(item.updatedAt) }</i></span> : null
      <a class="text-black no-underline font-medium" href={item.link}><span>{ item.subject } </span></a>
    </li>
  ))
}
</ul>
