---
import type { PresetSource } from '@/db'
import Editor from '@/components/editor/index.svelte'
import { readPreset } from '@/db/markdown'
import { formHandler } from '@/lib/services/editor'
import { to } from 'await-to-js'

interface Props {
  source: PresetSource
  subject: string
}

const { source, subject } = Astro.props

const [formError, formStatus] = await to(formHandler(Astro, { source }))

const env = Astro.locals.runtime.env
const presetSource = await readPreset(env, source)
---

<h2>{subject}</h2>
{ formStatus === 'ok' && <div>Saved Success</div> }
{ formError && formError.message }
{ presetSource && <Editor client:load source={source} markdown={presetSource} /> }
