---
import Head from '@/components/head/index.astro'
import { MarkdownSource } from '@/db'
import { readPreset } from '@/db/markdown'
import { md } from '@/lib/markdown'
import Layout from './layout.astro'

interface Props {
  title?: string
}

const { title: metaTitle } = Astro.props

const env = Astro.locals.runtime?.env || {}

const title = Astro.locals.config.pageConfig.title ?? ''
const presetSource = await readPreset(env, MarkdownSource.Nav)
const markup = (await md()).render(presetSource?.content ?? '')
---
<Layout>
  <Head title={metaTitle} slot="meta" />
  <header>
    <h1>{title}</h1>
    <nav>
      <Fragment set:html={markup} />
    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>
