---
import Head from '@/components/head/index.astro'
import Layout from './layout.astro'

interface Props {
  title?: string
  desc?: string
}

const { title: metaTitle, desc } = Astro.props

const title = Astro.locals.config.pageConfig?.title ?? ''
const avatar = Astro.locals.config.pageConfig?.avatar ?? ''
---
<Layout>
  <Fragment slot="meta">
    <Head title={metaTitle || title} desc={desc} />
    <slot name="meta" />
  </Fragment>
  <div class="max-w-200 mx-auto w-full flex-1 flex flex-col">
    <header>
      <h2 class="px-6 flex justify-between items-center">
      <a href="/" class="home-title">{title}</a>
      {
        avatar
          ? (
            <a href="/about">
              <img id="avatar" class="w-10 h-10 object-cover object-center rounded-[50%] cursor-pointer" src={avatar} />
            </a>
          )
          : ''
      }
    </h2>
  </header>
  <main>
    <slot />
  </main>
  <footer class="min-h-10">
    <slot name="footer" />
  </footer>
  <script is:inline>
  const avatarImg = document.querySelector('img#avatar')
  function eventCall(event) {
    if (event.key === 'l') {
      window.open('/dashboard')
    }
  }
  avatarImg.addEventListener('mouseover', () => {
    document.removeEventListener('keypress', eventCall)
    document.addEventListener('keypress', eventCall)
    setTimeout(() => {
      document.removeEventListener('keypress', eventCall)
    }, 3000)
  })
  </script>
  </div>
</Layout>

