---
import Layout from './layout.astro'
---
<Layout>
  <header>
    <h1>Koala Blog</h1>
    <nav>

    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>
