---
import { MarkdownSource } from '@/lib/prisma'
import { readPreset } from '@/lib/prisma/markdown'
import { marked } from 'marked'
import Layout from './layout.astro'

const env = Astro.locals.runtime.env

const title = await env.KOALA.get('title')
const presetSource = await readPreset(env, [MarkdownSource.Nav])
const markup = marked(presetSource[0].content ?? '')
---
<Layout>
  <header>
    <h1>{title}</h1>
    <nav>
      <Fragment set:html={markup} />
    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>
