---
import Head from '@/components/head/index.astro'
import { MarkdownSource } from '@/db'
import { readPreset } from '@/db/markdown'
import { rawMd } from '@/lib/markdown'
import Layout from './layout.astro'

interface Props {
  title?: string
  desc?: string
}

const { title: metaTitle, desc } = Astro.props

const env = Astro.locals.runtime?.env || {}

const title = Astro.locals.config.pageConfig?.title ?? ''
const avatar = Astro.locals.config.pageConfig?.avatar ?? ''
const presetSource = await readPreset(env, MarkdownSource.Nav)

let markup = ''
if (presetSource?.content?.trim()) {
  markup = rawMd().render(presetSource?.content ?? '')
}
---
<Layout>
  <Fragment slot="meta">
    <Head title={metaTitle || title} desc={desc} />
    <slot name="meta" />
  </Fragment>
  <header>
    <h2 class="px-6 flex justify-between items-center">
      <a href="/" class="home-title">{title}</a>
      {
        avatar
          ? (
            <a href="/memos">
              <img class="w-10 h-10 object-cover object-center rounded-[50%] cursor-pointer" src={avatar} />
            </a>
          )
          : ''
      }
    </h2>
    {
      markup
        ? (
        <nav>
          <Fragment set:html={markup} />
        </nav>
        )
        : ''
    }
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>

