---
import { createPrisma } from '@/lib/prisma'
import Layout from './layout.astro'

const env = Astro.locals.runtime.env
await createPrisma(env.DB)
---
<Layout>
  <header>
    <h1>Koala Blog</h1>
    <nav>

    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</Layout>
