---
import '@/styles/global.css'
import '@/styles/theme.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
  </head>

  <body class="flex justify-center">
    <section id="page" class="page box-border px-5 w-screen max-w-200 flex-1 font-[Verdana]">
      <slot />
    </section>
  </body>
</html>

<script>
function handleThemeChange(event: MediaQueryList | MediaQueryListEvent) {
  const body = document.body
  const pageEl = document.getElementById('page')
  if (event.matches) {
    body.classList.add('dark')
    body.classList.remove('light')
    pageEl!.classList.add('dark')
    pageEl!.classList.remove('light')
  }
  else {
    body.classList.add('light')
    body.classList.remove('dark')
    pageEl!.classList.add('light')
    pageEl!.classList.remove('dark')
  }
}
const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')

handleThemeChange(darkModeMediaQuery)

darkModeMediaQuery.addEventListener('change', handleThemeChange)
</script>
