<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
  </head>

  <body class="flex justify-center">
    <section class="box-border px-5 w-screen max-w-200 flex-1">
      <slot />
    </section>
  </body>
</html>
